In [35]:
#SQL server connection
import pyodbc
import pandas as pd
server = '.\SQLEXPRESS' 
database = 'HotelDatabase' 
driver = '{ODBC Driver 17 for SQL Server}' 
conn = pyodbc.connect(
    f'DRIVER={driver};SERVER={server};DATABASE={database};Trusted_Connection=yes;'
)
cursor = conn.cursor()
cursor.execute("SELECT @@VERSION;")

*BRANCH TABLE*

In [36]:
# import branches table
d_branches = cursor.execute("SELECT * FROM Branches").fetchall()
cols = cursor.execute("SELECT name FROM sys.columns WHERE object_id = OBJECT_ID('Branches')").fetchall()
cols = [i[0] for i in cols]
df_branches = pd.DataFrame.from_records(d_branches, columns=cols)
print(df_branches)

      Branch_id             Branch_name                     Location  \
0             1         Downtown Branch        Cairo - Tahrir Square
1             2       Luxor Nile Branch        Luxor - Nile Corniche
2             3  Mansoura Center Branch  Mansoura - El Gomhouria St.
3             4       Aswan View Branch    Aswan - High Dam District
4             5  Mansoura Center Branch  Mansoura - El Gomhouria St.
...         ...                     ...                          ...
1995       1996  Mansoura Center Branch  Mansoura - El Gomhouria St.
1996       1997       Aswan View Branch    Aswan - High Dam District
1997       1998       Luxor Nile Branch        Luxor - Nile Corniche
1998       1999    Giza Pyramids Branch          Giza - Haram Street
1999       2000         Downtown Branch        Cairo - Tahrir Square

          Contact                 Email  room_id
0     2.01014E+11                  None      NaN
1     2.01049E+11     user2@example.com    287.0
2     2.01072E+11                  None      NaN
3            None                  None    412.0
4     2.01078E+11     user5@example.com      NaN
...           ...                   ...      ...
1995         None  user1996@example.com    110.0
1996         None                  None    290.0
1997  2.01098E+11  user1998@example.com    198.0
1998         None                  None      NaN
1999  2.01022E+11                  None      NaN

[2000 rows x 6 columns]

In [ ]:
# check data types
print(df_branches.dtypes)

Branch_id        int64
Branch_name     object
Location        object
Contact         object
Email           object
room_id        float64
dtype: object

In [37]:
# convert room_id to nullable integer type
df_branches['room_id'] = df_branches['room_id'].astype('Int64')

In [4]:
# handeling data types
print(df_branches.dtypes)

Branch_id       int64
Branch_name    object
Location       object
Contact        object
Email          object
room_id         Int64
dtype: object

In [38]:
# check null values
df_branches.isnull().sum()

Branch_id        0
Branch_name      0
Location         0
Contact        897
Email          935
room_id        754
dtype: int64

In [39]:
# fill null values
df_branches['Contact'].fillna("unknown", inplace=True)
df_branches['Email'].fillna("unknown", inplace=True)
df_branches['room_id'].fillna(0, inplace=True)

C:\Users\USER\AppData\Local\Temp\ipykernel_111600\317985752.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_branches['Contact'].fillna("unknown", inplace=True)
C:\Users\USER\AppData\Local\Temp\ipykernel_111600\317985752.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_branches['Email'].fillna("unknown", inplace=True)
C:\Users\USER\AppData\Local\Temp\ipykernel_111600\317985752.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_branches['room_id'].fillna(0, inplace=True)

In [40]:
# fiiled nulls
df_branches.isnull().sum()

Branch_id      0
Branch_name    0
Location       0
Contact        0
Email          0
room_id        0
dtype: int64

*BOOKINGS TABLE*

In [41]:
# import bookings table
d_bookings = cursor.execute("SELECT * FROM Bookings").fetchall()
cols = cursor.execute("SELECT name FROM sys.columns WHERE object_id = OBJECT_ID('Bookings')").fetchall()
cols = [i[0] for i in cols]
df_booking = pd.DataFrame.from_records(d_bookings, columns=cols)
print(df_booking)

      booking_id  guest_id  room_id    check_in   check_out  payment  \
0              1       201     1354  2025-02-15  2025-02-19   302.63
1              2       976      501  2025-06-19  2025-06-23   984.83
2              3       967     1362  2025-04-21  2025-04-25  1706.31
3              4       518      511  2025-03-10  2025-03-12   297.63
4              5      1628      287  2024-12-18  2024-12-30  2262.64
...          ...       ...      ...         ...         ...      ...
1995        1996        15     1565  2024-09-20  2024-09-24   183.64
1996        1997      1290      899  2025-05-10  2025-05-19     None
1997        1998      1984      419  2025-01-19  2025-01-31  3617.85
1998        1999       770       29  2024-10-05  2024-10-07   457.67
1999        2000      1457     1634  2025-03-25  2025-04-03  2702.34

     booking_date  Branch_id
0      2025-01-22          5
1      2025-06-15          1
2            None          4
3      2025-02-18          2
4      2024-11-18          4
...           ...        ...
1995   2024-09-01          5
1996   2025-04-26          3
1997   2025-01-09          1
1998   2024-09-16          4
1999   2025-03-23          3

[2000 rows x 8 columns]

In [ ]:
# ckeck data types
print(df_booking.dtypes)

booking_id       int64
guest_id         int64
room_id          int64
check_in        object
check_out       object
payment         object
booking_date    object
Branch_id        int64
dtype: object

In [42]:
# handeling data types
import pandas as pd
df_booking['check_in'] = pd.to_datetime(df_booking['check_in'], format='%d/%m/%Y', errors='coerce')
df_booking['check_out'] = pd.to_datetime(df_booking['check_out'], format='%d/%m/%Y', errors='coerce')
df_booking['payment'] = df_booking['payment'].astype('float64')
df_booking['booking_date'] = pd.to_datetime(df_booking['booking_date'], format='%d/%m/%Y', errors='coerce')

In [32]:
print(df_booking.dtypes)

booking_id               int64
guest_id                 int64
room_id                  int64
check_in        datetime64[ns]
check_out       datetime64[ns]
payment                float64
booking_date    datetime64[ns]
Branch_id                int64
dtype: object

In [43]:
# check null values
df_booking.isnull().sum()

booking_id        0
guest_id          0
room_id           0
check_in          0
check_out         0
payment         102
booking_date     61
Branch_id         0
dtype: int64

In [44]:
# replace nill values with most freaquant value
most_frequent_payment = df_booking['payment'].mode()[0]
df_booking['payment'].fillna(most_frequent_payment, inplace=True)
most_frequent_date = df_booking['booking_date'].mode()[0]
df_booking['booking_date'].fillna(most_frequent_date, inplace=True)

C:\Users\USER\AppData\Local\Temp\ipykernel_111600\2711022581.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_booking['payment'].fillna(most_frequent_payment, inplace=True)
C:\Users\USER\AppData\Local\Temp\ipykernel_111600\2711022581.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_booking['booking_date'].fillna(most_frequent_date, inplace=True)

In [45]:
# check null values
df_booking.isnull().sum()

booking_id      0
guest_id        0
room_id         0
check_in        0
check_out       0
payment         0
booking_date    0
Branch_id       0
dtype: int64

*GUESTS TABLE*

In [46]:
# import guests table
d_guests= cursor.execute("SELECT * FROM guests").fetchall()
cols = cursor.execute("SELECT name FROM sys.columns WHERE object_id = OBJECT_ID('guests')").fetchall()
cols = [i[0] for i in cols]
df_guests = pd.DataFrame.from_records(d_guests, columns=cols)
print(df_guests)

      guest_id        guest_name                           email  \
0            1        Lisa Moore        lisa.moore14@example.com
1            2   Susan Rodriguez   susan.rodriguez11@example.com
2            3     Barbara Lopez     barbara.lopez27@example.com
3            4       Susan Moore        susan.moore3@example.com
4            5     Matthew Jones     matthew.jones25@example.com
...        ...               ...                             ...
1995      1996      Robert Brown      robert.brown43@example.com
1996      1997  Barbara Martinez  barbara.martinez42@example.com
1997      1998  Joseph Rodriguez   joseph.rodriguez5@example.com
1998      1999     Lisa Martinez     lisa.martinez85@example.com
1999      2000     Joseph Garcia     joseph.garcia27@example.com

              phone room_id booking_date
0     2201345050885   876.0   2025-08-11
1     2201553587072   540.0   2025-08-24
2     2201294917102  1269.0   2024-07-09
3     2201454579595   753.0   2024-03-03
4     2201040212458  1685.0   2024-06-26
...             ...     ...          ...
1995  2201187888895   975.0   2025-01-20
1996  2201030492251  1556.0   2025-05-01
1997            nan   227.0   2024-04-27
1998  2201231134319   457.0   2024-09-21
1999  2201539038274   424.0   2024-02-13

[2000 rows x 6 columns]

In [47]:
# ckeck data types
print(df_guests.dtypes)

guest_id         int64
guest_name      object
email           object
phone           object
room_id         object
booking_date    object
dtype: object

In [48]:
# convert room_id to nullable integer type
df_guests['room_id'] = df_guests['room_id'].astype('Int64')
df_guests['booking_date'] = pd.to_datetime(df_guests['booking_date'], format='%d/%m/%Y', errors='coerce')

In [37]:
# ckeck data types
print(df_guests.dtypes)

guest_id                 int64
guest_name              object
email                   object
phone                   object
room_id                  Int64
booking_date    datetime64[ns]
dtype: object

In [13]:
# check null values
df_guests.isnull().sum()

guest_id          0
guest_name        0
email           225
phone             0
room_id           7
booking_date      0
dtype: int64

In [49]:
df_guests['email'] = df_guests['email'].fillna("unknown")
df_guests['room_id'].fillna(0, inplace=True)
df_guests['phone'] = df_guests['phone'].fillna("unknown")

C:\Users\USER\AppData\Local\Temp\ipykernel_111600\1045704701.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_guests['room_id'].fillna(0, inplace=True)

In [50]:
# check null values
df_guests.isnull().sum()

guest_id        0
guest_name      0
email           0
phone           0
room_id         0
booking_date    0
dtype: int64

*ROOMS TABLE*

In [16]:
# import room table
d_Rooms= cursor.execute("SELECT * FROM Rooms").fetchall()
cols = cursor.execute("SELECT name FROM sys.columns WHERE object_id = OBJECT_ID('Rooms')").fetchall()
cols = [i[0] for i in cols]
df_Rooms = pd.DataFrame.from_records(d_Rooms, columns=cols)
print(df_Rooms)

      room_id  Branch_id  room_num    type   price  floor_num     status  \
0           1          2       570   Suite  119.00       12.0  Available
1           2          1       645  Single   71.00        NaN  Available
2           3          2       443  Double  188.00       14.0     Booked
3           4          2       455    Twin  350.00        7.0   Occupied
4           5          5       382   Suite  112.00       14.0       None
...       ...        ...       ...     ...     ...        ...        ...
1995     1996          3       449  Deluxe  179.00        5.0     Booked
1996     1997          3       713   Suite  299.00       11.0  Available
1997     1998          1       783  Single  104.00       11.0  Available
1998     1999          3       620    Twin  188.00        3.0     Booked
1999     2000          6       232  Double  326.00       13.0  Available

      guest_id
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
...        ...
1995     356.0
1996       NaN
1997       NaN
1998    1334.0
1999     105.0

[2000 rows x 8 columns]

In [46]:
# ckeck data types
print(df_Rooms.dtypes)

room_id        int64
Branch_id      int64
room_num       int64
type          object
price         object
floor_num    float64
status        object
guest_id     float64
dtype: object

In [17]:
df_Rooms['price'] = df_Rooms['price'].astype('float64')
df_Rooms['floor_num'] = df_Rooms['floor_num'].astype('object')
df_Rooms['guest_id'] = df_Rooms['guest_id'].astype('Int64')

In [18]:
# ckeck data types
print(df_Rooms.dtypes)

room_id        int64
Branch_id      int64
room_num       int64
type          object
price        float64
floor_num     object
status        object
guest_id       Int64
dtype: object

In [19]:
# check null values
df_Rooms.isnull().sum()

room_id         0
Branch_id       0
room_num        0
type            0
price           0
floor_num     142
status        123
guest_id     1407
dtype: int64

In [20]:
df_Rooms['floor_num'].fillna(0, inplace=True)
df_Rooms['status'] = df_Rooms['status'].fillna("unknown")
df_Rooms['guest_id'].fillna(0, inplace=True)

C:\Users\USER\AppData\Local\Temp\ipykernel_111600\2598790036.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_Rooms['floor_num'].fillna(0, inplace=True)
C:\Users\USER\AppData\Local\Temp\ipykernel_111600\2598790036.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_Rooms['floor_num'].fillna(0, inplace=True)
C:\Users\USER\AppData\Local\Temp\ipykernel_111600\2598790036.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_Rooms['guest_id'].fillna(0, inplace=True)

In [21]:
# check null values
df_Rooms.isnull().sum()

room_id      0
Branch_id    0
room_num     0
type         0
price        0
floor_num    0
status       0
guest_id     0
dtype: int64

In [23]:
cursor.close()
conn.close()

In [51]:
# connect on DWH_hdb data
import pyodbc
import pandas as pd
server = '.\SQLEXPRESS' 
database = 'DWH' 
driver = '{ODBC Driver 17 for SQL Server}' 
con = pyodbc.connect(
    f'DRIVER={driver};SERVER={server};DATABASE={database};Trusted_Connection=yes;'
)
cursor = con.cursor()

In [ ]:
df_Rooms
df_guests
df_branches
df_booking

In [52]:
df_guests["start_date"] = "2025-11-06"
df_guests["end_date"] = "2030-12-12"
df_guests["is_current"] = 1
df_guests['start_date'] = pd.to_datetime(df_guests['start_date'], format='%d/%m/%Y', errors='coerce')
df_guests['end_date'] = pd.to_datetime(df_guests['end_date'], format='%d/%m/%Y', errors='coerce')

In [24]:
df_Rooms["start_date"] = "2025-11-06"
df_Rooms["end_date"] = "2030-12-12"
df_Rooms["is_current"] = 1
df_Rooms['start_date'] = pd.to_datetime(df_Rooms['start_date'], format='%d/%m/%Y', errors='coerce')
df_Rooms['end_date'] = pd.to_datetime(df_Rooms['end_date'], format='%d/%m/%Y', errors='coerce')

In [25]:
df_branches["start_date"] = "2025-11-06"
df_branches["end_date"] = "2030-12-12"
df_branches["is_current"] = 1
df_branches['start_date'] = pd.to_datetime(df_branches['start_date'], format='%d/%m/%Y', errors='coerce')
df_branches['end_date'] = pd.to_datetime(df_branches['end_date'], format='%d/%m/%Y', errors='coerce')

In [26]:
df_booking["start_date"] = "2025-11-06"
df_booking["end_date"] = "2030-12-12"
df_booking["is_current"] = 1
df_booking['start_date'] = pd.to_datetime(df_booking['start_date'], format='%d/%m/%Y', errors='coerce')
df_booking['end_date'] = pd.to_datetime(df_booking['end_date'], format='%d/%m/%Y', errors='coerce')

In [53]:
# handling rest columns 
import pandas as pd
from datetime import datetime
df_booking['is_current'] = 1
df_booking['start_date'] = datetime.now().date()
df_booking['end_date'] = None

df_branches['is_current'] = 1
df_branches['start_date'] = datetime.now().date()
df_branches['end_date'] = None

df_Rooms['is_current'] = 1
df_Rooms['start_date'] = datetime.now().date()
df_Rooms['end_date'] = None

df_guests['is_current'] = 1
df_guests['start_date'] = datetime.now().date()
df_guests['end_date'] = None

df_guests.to_csv('guests.csv', index=False)
df_Rooms.to_csv('rooms.csv', index=False)
df_branches.to_csv('branches.csv', index=False)
df_booking.to_csv('bookings.csv', index=False)

In [55]:
#DWH - guest
query = """INSERT INTO dim_Guest(guest_id, guest_name, email, phone, start_date, end_date, is_current)
           VALUES (?, ?, ?, ?, ?, ?, ?)"""
for index, row in df_guests.iterrows():
    cursor.execute(query,row['guest_id'],row['guest_name'],row['email'],row['phone'],row['start_date'],row['end_date'],row['is_current'])
con.commit()

In [ ]:
#DWH - branch
query = """INSERT INTO dim_Branch(Branch_ID, Branch_name, City, Country, Start_date, End_date, Is_current)
           VALUES (?, ?, ?, ?, ?, ?, ?)"""
for index, row in df_guests.iterrows():
    cursor.execute(query,row['Branch_ID'],row['Branch_name'],row['City'],row['Country'],row['start_date'],row['end_date'],row['Is_current'])
con.commit()

In [30]:
df_guests

,guest_id,guest_name,email,phone,room_id,booking_date,start_date,end_date,is_current
0,1,Lisa Moore,lisa.moore14@example.com,2201345050885,876,2025-08-11,2025-11-29,None,1
1,2,Susan Rodriguez,susan.rodriguez11@example.com,2201553587072,540,2025-08-24,2025-11-29,None,1
2,3,Barbara Lopez,barbara.lopez27@example.com,2201294917102,1269,2024-07-09,2025-11-29,None,1
3,4,Susan Moore,susan.moore3@example.com,2201454579595,753,2024-03-03,2025-11-29,None,1
4,5,Matthew Jones,matthew.jones25@example.com,2201040212458,1685,2024-06-26,2025-11-29,None,1
...,...,...,...,...,...,...,...,...,...
1995,1996,Robert Brown,robert.brown43@example.com,2201187888895,975,2025-01-20,2025-11-29,None,1
1996,1997,Barbara Martinez,barbara.martinez42@example.com,2201030492251,1556,2025-05-01,2025-11-29,None,1
1997,1998,Joseph Rodriguez,joseph.rodriguez5@example.com,nan,227,2024-04-27,2025-11-29,None,1
1998,1999,Lisa Martinez,lisa.martinez85@example.com,2201231134319,457,2024-09-21,2025-11-29,None,1
1999,2000,Joseph Garcia,joseph.garcia27@example.com,2201539038274,424,2024-02-13,2025-11-29,None,1

In [ ]:
#DWH - booking
query = """INSERT INTO dim_Booking(Booking_ID, Guest_key, Room_key, Branch_key, Date_key, Payment_amount, Stay_duration, Total_revenue)
           VALUES (?, ?, ?, ?, ?, ?, ?, ?)"""
for index, row in df_guests.iterrows():
    cursor.execute(query,row['Booking_ID'],row['Guest_key'],row['Room_key'],row['Branch_key'],row['Date_key'],row['Payment_amount'],row['Stay_duration'],row['Total_revenue'])
con.commit()

In [ ]:
#DWH - room
query = """INSERT INTO dim_Room(Room_ID, Branch_key, Room_num, Room_type, Price, Floor_num)
           VALUES (?, ?, ?, ?, ?, ?)"""
for index, row in df_guests.iterrows():
    cursor.execute(query,row['Room_ID'],row['Branch_key'],row['Room_num'],row['Room_type'],row['Price'],row['Floor_num'])
con.commit()

In [ ]:
#DWH - date
query = """INSERT INTO fact_Date(Date_ID, Full_date, Day, Week, Month, Quarter, Year, Is_weekend)
           VALUES (?, ?, ?, ?, ?, ?, ?, ?)"""
for index, row in df_guests.iterrows():
    cursor.execute(query,row['Date_ID'],row['Full_date'],row['Day'],row['Week'],row['month'],row['Quarter'],row['Year'],row['Is_weekend'])
con.commit()